@font-face {
    font-family: RodinPro;
    src: url(fonts/rodinPro.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "RodinPro";
    color: #3d3d3d;
    image-rendering: pixelated;
    perspective: 800px;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --bg-colour: #ccc;
    --text-colour: #000;
    --box-shadow: 0 0 .6rem rgba(0,0,0,0.3);
    --shadow-bevel: 0 0.1rem .6rem rgba(0,0,0,0.3), inset 0 0.1rem .7rem rgba(255,255,255,0.8);
    --screen-radius: 0.5rem;
    /*--menu-bg: linear-gradient(0deg, #d1cfd2 100%, #e1ddd9 90%, #e1ddd9 30%, #cac6c2 0%);*/
    --menu-bg: linear-gradient(0deg, #cac6c2 0%, #e1ddd9 30%, #e1ddd9 90%,  #edebe6 100%);
    --app-bg: linear-gradient(0deg, #e4e4e4 0%, #f5f5f5 30%, #f5f5f5 90%, #f7f7f7 100%);
    --grey-text: #6d6d6d;
    --ds-width: 480px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 680px;
    background: linear-gradient(0deg, #cfcfdb 0%, #efeef4 100%);
}

.displays {
    position: relative;
    display: inline-block;
    margin: auto;
    object-fit: cover;
    /*transform: translate(-50%, 0%);*/
    width: var(--ds-width); /*3:4*/
    height: 640px;
    background: blue;
    border-radius: 1rem;
    align-self: center;
}

.screen {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #e2e2ea;
    box-shadow: var(--box-shadow);
    z-index: -10;
    overflow: hidden;
}

.screen.screen-top {
    top:0px;
    text-align: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    align-content: left;
    background: linear-gradient(0deg, #cfcfdb 0%, #efeef4 100%);
    border-top-left-radius: var(--screen-radius);
    border-top-right-radius: var(--screen-radius);
}

.screen.screen-bottom {
    bottom:0px;
    border-bottom-left-radius: var(--screen-radius);
    border-bottom-right-radius: var(--screen-radius);
}

.main-button {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 32px;
    text-align: center;
    color: var(--grey-text);
    text-shadow: 0px 1px 0 white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--menu-bg);
    font-size: 1.1rem;
    box-shadow: var(--shadow-bevel);
}

.main-button:hover {
    background: #ccc;
    cursor: pointer;
}

#menu-bg {
    background: #dfdbd7;
    position: absolute;
    top: 45px;
    left: 10px;
    height: 230px;
    width: 820px;
    border-radius: 1rem;
    z-index: -5;
    box-shadow: var(--shadow-bevel);
    display: block;
}

#menu-bg:hover {
    cursor: move;
}

.app {
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 20px;
    align-content: center;
    top: 125px;
    /*transform: translate(12rem, 8rem);*/
    z-index: -5;
    background: var(--app-bg);
    box-shadow: var(--shadow-bevel);
}

.app:hover {
    cursor: pointer;
}

.app-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 8px;
    -webkit-user-drag: none;
}

@keyframes scalePulse {
    0% {transform: scale(1.28);}
    100% {transform: scale(1.35);}
}

#selector {
    position: absolute;
    display: block;
    top: 125px;
    left: -500px;
    width: 95px;
    height: 95px;
    z-index: -3;
    animation-name: scalePulse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
}

.app-caption {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -5;
    width: 80%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: var(--grey-text);
    background: var(--app-bg);
    box-shadow: var(--shadow-bevel);
    border-radius: 1.2rem;
}

.app-display {
    display: block;
    margin: auto;
    width: 6rem;
    height: 6rem;
    background-color: blue;
}

.fake-header {
    position: absolute;
    display: inline-block;
    margin: 4px;
    height: 25px;
}
.fake-header.left {
    left: 0;
}
.fake-header.right {
    right: 0;
}

#fake-bar {
    position: absolute;
    z-index: -10;
    width: 100%;
}

.scroll {
    position: absolute;
    top: 110px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: radial-gradient(rgba(255,255,255,0.5),rgba(255,255,255,1) 70%);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.scroll:hover {
    cursor: pointer;
}

#scrRight {
    right: -70px;
}
#scrLeft {
    left: -70px;
    transform: translateX(-50px);
}


/*apps*/

.app-window {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

/*mii app*/

@keyframes bob {
    0% {transform: scale(1,1);}
    100% {transform: scale(1.01,0.99);}
}

#mii-image {
    position: absolute;
    left: 160px;
    transform-origin: bottom;
    animation-name: bob;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-duration: 1s;

}

/*settings app*/

#settings-app {
    background-color: #f1e9a3;
}

#settings-header {
    position: relative;
    top: 10px;
    font-size: 1.5rem;
    text-shadow: none;
}

#settings-top-caption {
    position: absolute;
    margin:auto;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 60%;
    border-radius: 10px;
    background-color: #dcd499;
}